<div class="cb" v-show="store.state.cb.show" ref="cb">
	<vresize placement="right" :target="$refs.cb" mode="flex"></vresize>
	<search-header title="Component Browser" 
				   :search="store.state.cb.filter"
				   @change="filter"></search-header>
	<scrollbar>
		<treeview :item="store.getters['cb.filteredList']"></treeview>
	</scrollbar>
</div>