<div class="layout">
	<div class="row topbar nowrap">
		<div class="logo"></div>
		<slot name="topbar"></slot>
	</div>
	<div class="row builder nowrap">
		<slot name="component-browser"></slot>
		<div class="main">
			<slot name="tabs"></slot>
			<slot name="content"></slot>
		</div>
	</div>
</div>