<div class="search-header">
	<icon name="filing"></icon> 
	<input class="search-box" :value="search" @input="change($event.target.value)"
		   ref="searchbox" spellcheck="false" :class="{active:active}" 
		   type="text" :placeholder="title"></input>
		   
	<btn :class="{active:active}" @click="change('')">
		<icon v-if="!active" name="android-search"></icon>
		<icon v-else name="close"></icon>
	</btn>
</div>