<div class="tabs-outer">
	<div class="tabs-inner">
		<div class="tabs-scroll">
			<icon name="arrow-left-b"></icon>
			<icon name="arrow-right-b"></icon>
		</div>
		<div class="tabs">
			<div class="tab"></div>
		</div>
	</div>
</div>