<div>
    <div v-for="i in item">
      <icon v-if="i[1]" :name="i[1].i"></icon> <span>{{ i[0] }}</span>
      <div v-if="i.length > 2" style="margin-left:10px;">
        <treeview :item="i[2]"></treeview>
      </div>
    </div>
</div>