<div class="container">
	<div class="pure-g header">
		<div class="pure-u-4-5">
			<h2 v-if="!project"><b>{{ state.page.title }} - {{ tgldisplay }} - {{ state.page.phase }}</b></h2>
			<h2 v-else>
				<a class="pure-button" @click="project = null; updateChart()" href="#"> &lt; </a> 
				<b>{{ project.Project }} - {{ tgldisplay }} - {{ state.page.phase }}</b>
			</h2>
		</div>
		<div class="pure-u-1-5">
			<select name="phase" v-model="state.page.phase" @change='updateChart()'>
				<option v-for="p in component.phase.list" :value="p">{{ p }}</option>
			</select>
			<select name="year" v-model="state.page.year" @change='updateChart()'>
				<option v-for="p in component.year.list" :value="p">{{ p }}</option>
			</select>
		</div>
	</div>

	<div class="pure-g">
		<div class="pure-u-18-24">
			<div id="container"></div>
		</div>
		<div class="pure-u-6-24 sidebar">
			<div class="sidebar-item">
				<table>
					<tr>
						<td>Cut off Progress</td>
						<td>{{ state.page.cutoff }}</td>
					</tr>
					<tr>
						<td colspan="2">
							Week {{ state.page.week.running }} from {{ state.page.week.total }}
							({{ (state.page.week.total * 1) - (state.page.week.running * 1) }} remaining)
						</td>
					</tr>
				</table>
			</div>
			<div class="sidebar-item">
				<table>
					<tr>
						<td rowspan="2">{{ state.page.phase }} Progress &nbsp; </td>
						<td>Plan: {{ sidebar.plan }}%</td>
					</tr>
					<tr>
						<td>Phase: {{ sidebar.actual }}%</td>
					</tr>
				</table>

			</div>
			<div class="sidebar-item"></div>
			<div class="sidebar-item"></div>
			<div class="sidebar-item"></div>
		</div>
	</div>


	<div class="pure-g">
		<div class="pure-u-5-5">
			<table class="pure-table full-width" >
				<thead>
					<tr>
						<th rowspan="2" style="width:10px;">No</th>
						<th rowspan="2">
							<span v-if="project">Work Packages</span>
							<span v-else>Project Name</span>
						</th>
						<th colspan="2">ENG Progress</th>
						<th colspan="4">Budget (M Rp)</th>
						<th colspan="2">PROC Progress</th>
						<th colspan="2">COM Progress</th>
						<th colspan="2">CON Progress</th>
					</tr>
					<tr>
						<th>Plan&nbsp;%</th>
						<th>Actual&nbsp;%</th>
						<th>FS</th>
						<th>PR/ECE</th>
						<th>PO</th>
						<th>EAC</th>
						<th>Plan&nbsp;%</th>
						<th>Actual&nbsp;%</th>
						<th>Plan&nbsp;%</th>
						<th>Actual&nbsp;%</th>
						<th>Plan&nbsp;%</th>
						<th>Actual&nbsp;%</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(r,k) in current">
						<td>{{ k + 1 }}</td>
						<td>
							<a v-if="!project" href="#" v-on:click="project = r;updateChart()">{{ r.Project }}</a>
							<span v-else>{{ r.Work }}</span>
						</td>
						<td>{{ r.EngPlan }}   </td>
						<td>{{ r.EngActual }} </td>
						<td>{{ r.Fs }}</td>
						<td>{{ r.Pr }}</td>
						<td>{{ r.Po }}</td>
						<td>{{ r.Eac }}</td>
						<td>{{ r.ProcPlan }}  </td>
						<td>{{ r.ProcActual }}</td>
						<td>{{ r.ComPlan }}   </td>
						<td>{{ r.ComActual }} </td>
						<td>{{ r.ConPlan }}   </td>
						<td>{{ r.ConActual }} </td>
					</tr>
					<tr class="total">
						<td colspan="2" style="text-align:right">
						<a v-if="project" 
						   style="float:left;"
						   @click="project = null; updateChart()" href="#"> &laquo; Back </a> 
				
						 Total:</td>
						<td>{{ total.EngPlan }}   </td>
						<td>{{ total.EngActual }} </td>
						<td>{{ total.Fs }}</td>
						<td>{{ total.Pr }}</td>
						<td>{{ total.Po }}</td>
						<td>{{ total.Eac }}</td>
						<td>{{ total.ProcPlan }}  </td>
						<td>{{ total.ProcActual }}</td>
						<td>{{ total.ComPlan }}   </td>
						<td>{{ total.ComActual }} </td>
						<td>{{ total.ConPlan }}   </td>
						<td>{{ total.ConActual }} </td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
</div>
<!-- EOT -->
<html></html>