html, body, .layout {
	height:100%;
	margin:0;
	background:white;
	cursor:default;
	font-family: Arial, Tahoma, sans-serif;
	color: white;
	overflow:hidden;
	font-size:100%;
}
.layout {
	display:flex;
	flex-direction: column;
	align-content: stretch;
}
.row {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
pre {
	font-size:.8rem;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
		background: rgba(255,255,255,.1)
}
 
/* Handle */
::-webkit-scrollbar-thumb {
		background: rgba(255,255,255,.4);
}

.btn:hover {
	background:#212121;
}

.slide-enter-active, .slide-leave-active {
    transform: translateX(0);
    transition: transform 0.1s ease-in-out, opacity .4s;
}

.slide-enter, .slide-leave-active {
    transform: translateX(-100%);
  	opacity: 0
}

.fade-enter-active, .fade-leave-active {
  	transition: opacity .5s;
    transition: transform 0.1s ease-in-out;
}

.fade-enter, .fade-leave-active {
  	opacity: 0
}

.topbar {
	height:45px;
	background:#262627;
	border-bottom:1px solid #1a1a1a;
}

.topbar .logo {
	background-image:url("logo.png");
	background-repeat:no-repeat;
	width:68px;
	margin:0px 25px;
	height:21px;
	align-self: center;
}

.topbar .menu {
	border-left:1px solid #1a1a1a;
	align-self:stretch;
	display: flex;
	align-items: center;
	justify-content: center;
}

.topbar .menu .btn {
	color:#818181;
	border-radius:2px;
	padding:7px;
	width:20px;
	margin:0px 7px;
	text-align:center;
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
}

.topbar .menu .btn.active {
	color:white;
	background:#1a1a1a;
}

.topbar .menu .btn .icon {
	font-size:1.25rem;
}

.search-header {
	border-bottom:1px solid #1a1a1a;
	font-size:.8rem;
	display:flex;
	flex-direction: row;
	align-items:center;
}

.search-header > .icon {
	font-size:.9rem;
	color:#aaa;
	text-align:center;
	flex:0 20px;
}

.search-header .search-box {
	font-size:.7rem;
	height:19px;
	padding:0px;
	margin:0px;
	border:0px;
	color:#999999;
	display:flex;
	flex:1;
	align-items:center;
	background:transparent;
	outline:0px;
	padding-left:2px;
}

.search-header .search-box::-ms-clear {
    display: none;
}

.search-header .search-box.active,
.search-header .search-box:focus {
	border-left:1px solid #1a1a1a;
	background:#454545;
	padding-left:5px;
	color:#ececeb;
}

.search-header .btn {
	border-left:1px solid #1a1a1a;
	width:20px;
	height:20px;
	flex: 0 20px;
	text-align:center;
	justify-content: center;
	flex-direction: column;
	display:flex;
}
.search-header .btn:hover {
	background:#454545;
}

.search-header .btn .icon.close {
	font-size:.6rem;
}

.search-header .btn.active {
	border-color:#212121;
}

.builder {
	font-size:.8rem;
	flex: 1;
}

.builder .cb {
	flex: 0 0 200px;
	background:#262627;
	align-self: stretch;
	display:flex;
	flex-direction: column;
	border-right:1px solid #1a1a1a;
	position:relative;
}

.builder .cb .cb-item {
	flex:1;
	overflow-y:auto;
} 

.builder .main {
	flex:1;
}

.tabs-outer {
	background:#323233;
	height:26px;
	border-bottom:1px solid #1a1a1a;
}

.tabs-outer .tabs-inner {
	background:#1a1a1a;
	height:23px;
	overflow-y:hidden;
	display:flex;
}

.tabs-outer .tabs-inner .tabs-scroll {
	text-align:center;
	color:#454545;
	display:flex;
	flex:0 32px;
	justify-content: center;
	align-items: center;
}

.tabs-outer .tabs-inner .tabs-scroll .icon {
	padding:0px 3px;
	font-size:1rem;
}
.tabs-outer .tabs-inner .tabs-scroll .icon:hover {
	color:#ccc;
}
