h2 {
	margin:0px;
}

.container {
	border-radius:4px;
	border:1px solid #ececeb;
}

.header {
	border-bottom:1px solid #ececeb;
	padding:20px;
}

.sidebar-item {
	border-bottom:1px solid #ececeb;
	padding:20px;
	border-left:1px solid #ececeb;
}


.full-width th {
	width:100%;
	text-align: center;
	vertical-align: middle;
	border-bottom:1px solid #ccc;
}

.selected-tgl-xaxis {
	color: red;
	fill: red;
	font-weight:bold;
}

.unselected-tgl-xaxis {
	cursor:pointer;
}

.total td {
	border-top:1px solid #ccc;
}